.col.image-gallary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  flex-wrap: wrap;
}
.gallary-items {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}
.row.gallary {
  display: block;
}
.gallery {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 1.7rem;
  padding-top: 1rem;
}
.gallary .uploaded-img {
  width: 350px;
  max-height: 200px;
  text-align: center;
  border-radius: 10px;
  border: 2px solid #dbe0eb;
  position: relative;
  overflow: hidden;
}
.uploaded-img img {
  max-width: 100%;
  height: 190px;
}
.uploaded-img img:hover {
  z-index: 1;
  opacity: 0.3;
}
.selected-image {
  display: flex;
}
.hovered:hover {
  border: 3px solid #bdc4d3;
  background-color: #1e2235;
  z-index: 99;
  background: rgb(30 34 53 0.5);
}
/* hover effect */
.uploaded-img:hover .hover-content {
  opacity: 1;
}
.uploaded-img:hover {
  border: 2px solid #bdc4d3;
  background-color: #1e2235;
}
.hover-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 0.3s ease-in-out;

}
.hover-item {
  position: relative;
}
.uploaded-img.selected {
  border: 2px solid #0b4fe1;
}
.check-input {
  position: absolute;
  top: -70px;
  left: -120px;
}
.check-input input {
  padding: 10px;
}
.check-input input:focus {
  outline: 0;
}
.checked-option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 17rem;
  position: relative;
  top: -50px;
}
.btn.preview-button {
  margin-top: -38px;
  color: #515151;
  background-color: #fff;
  border: none;
  font-size: 18px;
  font-weight: 400;
}
.image-item p {
  color: #abafb9;
  margin-bottom: 0;
  margin-top: 5px;
}
.list-images {
  width: 100px;
  max-height: 100px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #dbe0eb;
}
.list-images img {
  width: 100px;
  height: 70px;
  border-radius: 5px;
}
.image-list-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
}
.btn.list-preview-button {
  color: #515151;
  margin-top: 0;
  background-color: #fff;
  border: none;
  font-size: 18px;
  font-weight: 400;
}
.next-prev-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: -webkit-fill-available;
  position: absolute;
  top: 50%;
  padding: 0 25px;
}
.modal-footer.preview-modal-btn {
  border-top: none;
  padding-bottom: 3rem;
}
.preview-modal-img {
  width: 100%;
  max-height: 500px;
  text-align: center;
}
.preview-modal-img img {
  max-width: 100%;
  height: 500px;
}
.modal-image-name h5 {
  text-align: center;
  padding-top: 5px;
}
.dropzone {
  width: auto;
  height: 140px;
  background-color: #f0f2f6;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.dropzone p {
  color: #899baf;
}
.dropzone .drag-input {
  width: 100%;
  padding: 3rem 3rem 3rem 15rem;
}
.all-select-checkbox {
  display: flex;
  gap: 2rem;
}
table .table-heading th {
  color: #abafb9;
}
.table>:not(caption)>*>*{
  border-bottom-width: inherit !important;
}
.table .table-data td {
  vertical-align: middle;
}
.image-gallary input {
  background-color: #f6f7fa;
}
.modal-header.modal-title {
  border-bottom: 0;
  padding-bottom: 0;
}
.modal.drag-drop-modal {
  --bs-modal-width: 800px;
}
.btn.upload-btn {
  border: none;
  background-color: #598dee;
  padding: 10px 20px;
  border-radius: 4px;
  float: right;
}
.image-list {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 2rem;
}
.delete-btn {
  border: none;
  padding: 0;
  height: fit-content;
  background-color: #fff;
  color: #acb8c6;
}
.drag-img {
  max-width: 200px;
  max-height: 100px;
  min-width: 150px;
  text-align: center;
  background-color: #ebedf2;
  border-radius: 4px;
}
.img-fluid.list-img {
  max-width: 100%;
  height: 90px;
}
.image-detail {
  display: flex;
  color: #acb8c6;
  gap: 25px;
}
.image-detail p {
  margin-bottom: 0;
}
.drag-img-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  padding-left: 1rem;
}
.drag-img{
  max-width: 200px;
  max-height: 100px;
  min-width: 200px;
  text-align: center;
  background-color: #ebedf2;
  border-radius: 4px;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn.delete-icon {
  border: 1px solid #dbe0eb;
  background-color: #fff;
  color: #414141;
}
.btn.delete-icon:disabled {
  border: 1px solid #dbe0eb;
  background-color: #fff;
  color: #414141;
}
.btn.delete-icon:hover {
  --bs-btn-hover-color: #414141;
  --bs-btn-hover-bg: #fff;
  --bs-btn-hover-border-color: #dbe0eb;
}
.nav-pills.list-details-btn {
  background-color: #ebeef3;
  border-radius: 5px;
  --bs-nav-link-color: #212121;
  --bs-nav-pills-link-active-color: #212121;
  --bs-nav-pills-link-active-bg: #fff;
  --bs-nav-link-hover-color: #212121;
  display: flex;
  align-items: center;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  margin: 2px;
  padding: 6px 15px;
}
.actions-list {
  display: flex;
  gap: 10px;
  align-items: center;
}
.col.tab-content-row {
  padding: 0 2rem;
}
.empty-list {
  text-align: center;
  color: #016ff0;
  font-size: 50px;
  padding-top: 100px;
}

@media screen and (max-width: 1430px) {
  .gallary {
    justify-content: center;
  }
}
@media screen and (max-width: 460px) {
  .gallary .uploaded-img {
    width: 300px;
  }
  .selected-image {
    flex-direction: column;
  }
  .dropzone .drag-input {
    padding: 3rem 3rem 3rem 3rem;
  }
}
